<%- include('header') -%>
  <div id="root">IT WORKED!</div>
    <script type="text/javascript">
    	window.currentUser = <%- currentUser ? JSON.stringify(currentUser) : false -%>;
  </script>
<%- include('footer') -%>
